<form class="box" action="/category/{{category._id}}/addschool" method="POST">
  <label>Enter School Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="School Name" name="schoolname">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Focus" name="focus">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Location" name="location">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add School</button>
</form>